<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>{% block title %}Zadanie testowe{% endblock %}</title>
		<link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
	</head>

	<body>

		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
			<div class="container">
				<a class="navbar-brand" href="{{ path('app_apartment_index') }}">
					Zadanie testowe
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
			        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="{{ path('app_apartment_index') }}">
								Strona główna
							</a>
						</li>
						<li class="nav-item">
							{% if app.user is not empty %}
								<a class="nav-link" href="{{ path('app_security_logout') }}">
									Wyloguj się
								</a>
							{% else %}
								<a class="nav-link" href="{{ path('app_security_login') }}">
									Zaloguj się
								</a>
							{% endif %}
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- Page Content -->
		<div class="container">
			{% block content %}{% endblock %}
		</div>

		<!-- Bootstrap core JavaScript -->
		<script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
		<script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
		{% block scripts %}{% endblock %}
	</body>
</html>
